@page "/sampling"
@inject IJSRuntime JSRuntime

<h3>Sampling</h3>

<button class="btn btn-primary" @onclick="PerformSampling">Click me</button>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>

@code { 

    int Min = 0;
    int Max = 10;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            int[] test2 = new int[1000];

            Random randNum = new Random();
            for (int i = 0; i < test2.Length; i++)
            {
                test2[i] = randNum.Next(Min, Max);
            }

            await JSRuntime.InvokeVoidAsync("createD3SvgObject", test2);
        }
    }

    async Task PerformSampling()
    {
        int[] test2 = new int[1000];

        Random randNum = new Random();
        for (int i = 0; i < test2.Length; i++)
        {
            test2[i] = randNum.Next(Min, Max);
        }

        await JSRuntime.InvokeVoidAsync("createD3SvgObject", test2);
    }
}
